<!DOCTYPE html>
<html>
<head>
  <title>WhatsApp Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <style>
    body {
      background-color: #f5f5f5;
    }
    .container {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px #ccc;
    }
    img {
      border: 5px solid #f5f5f5;
      border-radius: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="text-center">Scan QR Code to Login to WhatsApp</h1>
    <div class="text-center">
      <img src="{{ url_for('static', filename='qr_code.png') }}" alt="QR Code" class="img-fluid">
    </div>
    <div class="text-center" style="margin-top: 20px;">
      <a href="/wait" class="btn btn-primary">Click here after scan!</a>
      <a href="/" class="btn btn-secondary">Make a new QR!</a>
      <a href="/docs" target="_blank" rel="noopener noreferrer" class="btn btn-secondary">API Docs</a>
    </div>

  </div>
</body>
</html>